@media (min-width: 1200px) {
.container {
    max-width: 970px;
}
}
@media (min-width:400px){
.global-search {
padding: 20px 0;
text-align:center;
}
body {
padding-top: 15%;
padding-bottom: 15px;
}

.top-bar {
    position: absolute;
    height: 80px;
    background-color: #fafafa;
    box-shadow: 0 3px 0 rgba(0,0,0,0.2);

}

.charac-color{
    color: #4285F4;
}

.movie-color {
    color: #34A853;
}

.el {
    padding-bottom: 15px;
}

.e-t {
    font-weight: 900;
    font-style: normal;
    color: #000000;
    text-tranform: capitalize;
}
.highlight {
    color: #FBBC05;
}

.mark {
    background: #FBBC05;
    color: black;
}
    


.charac {
    text-transform: lowercase;
}

.charac:first-letter {
    text-transform: uppercase;
}
    
.charac-name {
    color: blue;
    font-weight: 900;
    font-size: 16px;
    font-style: normal;
    font-family: Avenir, sans serif;
}
.global-search {
text-align:center;
padding:10px;
}
.global-search .form-control {
width:500px;
}
.global-search * {
display:inline-block;
margin-bottom:0;
}
}
.topcorner{
position:absolute;
top:2%;
right:2%;
}
.btn{
background-color: #4285F4;
border: none
}
.step-links a{
color: #4285F4;
}

.capitalize {
    text-transform: capitalize;
}


.lowercase {
    text-transform: lowercase;
}
