<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/card.css">
    <link rel="stylesheet" href="/static/easy-autocomplete.min.css">
    <link rel="stylesheet" href="/static/easy-autocomplete.themes.min.css">

    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="/static/jquery.easy-autocomplete.min.js"></script>

    <script src="https://use.fontawesome.com/1cdb3ed3a9.js"></script>

  </head>
  <body>

    {% block container %}

    {% endblock %}
    
    
    <script type="text/javascript" scr="../static/cs4300.js"></script>
  </body>
</html>

